@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		<h1>@ViewBag.MovieTitle</h1>
		<h3>@ViewBag.ReleaseYear</h3>
    </div>
</body>
</html>
